-# coding: utf-8
!!! 5
%html
  %head
    %meta{ :charset => 'UTF-8' }
    %meta{ :content => "Wiki-based schedule management tool", :name => 'description' }
    %title= "Wicky"
  %body
    %header
      %nav
        %ul
          %li= "Item"
 
    %article
      =yield

    %aside
      %h2= "The Sidebar"

    %footer
      %p
        Copyright 2014 KMC

